# Explore here

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/k-means-project-tutorial/main/housing.csv')
df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [6]:
df = df[['Latitude','Longitude','MedInc']]
df

       Latitude  Longitude  MedInc
0         37.88    -122.23  8.3252
1         37.86    -122.22  8.3014
2         37.85    -122.24  7.2574
3         37.85    -122.25  5.6431
4         37.85    -122.25  3.8462
...         ...        ...     ...
20635     39.48    -121.09  1.5603
20636     39.49    -121.21  2.5568
20637     39.43    -121.22  1.7000
20638     39.43    -121.32  1.8672
20639     39.37    -121.24  2.3886

[20640 rows x 3 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Latitude   20640 non-null  float64
 1   Longitude  20640 non-null  float64
 2   MedInc     20640 non-null  float64
dtypes: float64(3)
memory usage: 483.9 KB

In [8]:
from sklearn.model_selection import train_test_split

X_train,X_test, _,_ = train_test_split(df,_,test_size=0.2,random_state=42)

In [9]:
from sklearn.cluster import KMeans

model = KMeans(n_clusters=6,random_state=42)

X_train['cluster'] =model.fit_predict(X_train)
X_train

       Latitude  Longitude  MedInc  cluster
14196     32.71    -117.03  3.2596        3
8267      33.77    -118.16  3.8125        1
17445     34.66    -120.48  4.1563        1
14265     32.69    -117.11  1.9425        3
2271      36.78    -119.80  3.5542        5
...         ...        ...     ...      ...
11284     33.78    -117.96  6.3700        2
11964     34.02    -117.43  3.0500        3
5390      34.03    -118.38  2.9344        3
860       37.58    -121.96  5.7192        0
15795     37.77    -122.42  2.5755        5

[16512 rows x 4 columns]

In [14]:
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

fig = plt.figure(figsize=1(0,8))
ax = fig.add_subplot(111,projection='3d')
colors=['blue','red','pink','green','orange','gray']

for i, color in zip(X_train['cluster'].unique(),colors):
    subset= X_train[X_train['cluster']==i]
    ax.scatter(subset['Longitude'],subset['Latitude'],subset['MedInc'],s=59,alpha=0.5,marker='o',c=[color],label=f'Cluster {i}')

ax.view_init(elev=20,azim=80)

ax.set_xlabel('Longitud')
ax.set_ylabel('Latitud')
ax.set_zlabel('Ingresos medios')
plt.show()

<>:4: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:4: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
/tmp/ipykernel_2118/301016431.py:4: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  fig = plt.figure(figsize=1(0,8))
/tmp/ipykernel_2118/301016431.py:4: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  fig = plt.figure(figsize=1(0,8))
/tmp/ipykernel_2118/301016431.py:4: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  fig = plt.figure(figsize=1(0,8))
/tmp/ipykernel_2118/301016431.py:4: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  fig = plt.figure(figsize=1(0,8))

TypeError: 'int' object is not callable

In [ ]:
y_pred =